<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>All Students</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/allstudents">All Students</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/addstudent">Add Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addguide">Add Guide</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addsubject">Add Subject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
    <br/>

    <form method="post" th:action="@{/addsubject}" th:object="${subject}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input th:field="*{name}" type="text"/></td>
                <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name
                    Error
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>